aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
billiard==4.2.4
brotli==1.2.0
cbor2==6.1.4
celery==5.6.3
certifi==2026.7.22
cffi==2.1.1
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cryptography==50.0.1
cssselect2==0.10.1
daphne==4.2.3
Django==6.1.1
django-cors-headers==4.9.0
django-environ==0.14.0
django-redis==7.0.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
fonttools==4.65.0
frozenlist==1.8.0
gunicorn==26.2.0
http_ece==1.2.1
hyperlink==21.0.0
idna==3.19
Incremental==24.11.0
kombu==5.6.2
livekit-api==1.2.1
livekit-protocol==1.1.26
msgpack==1.2.2
multidict==6.8.0
packaging==26.3
pillow==12.3.0
prompt_toolkit==3.0.53
propcache==0.5.2
protobuf==7.36.1
psycopg==3.3.5
psycopg-binary==3.3.5
py-vapid==1.9.4
pycparser==3.0
pydyf==0.12.1
PyJWT==2.14.0
pyOpenSSL==26.4.0
pyphen==0.18.1
python-dateutil==2.9.0.post0
pywebpush==2.5.0
redis==6.4.0
requests==2.34.2
service-identity==26.1.0
six==1.17.0
sqlparse==0.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
Twisted==26.4.0
txaio==26.6.1
types-protobuf==7.35.1.20260906
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
ujson==6.0.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.3
weasyprint==70.0
webencodings==0.6.1
yarl==1.24.5
zope.interface==8.6
zopfli==0.4.3
